<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Este permiso no es estándar en Android. Si se usa, podría estar relacionado con la
    publicación de notificaciones. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Este permiso permite a la aplicación abrir conexiones de red. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Este permiso permite a la aplicación controlar la vibración del dispositivo. -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- Este permiso permite a la aplicación recibir un broadcast cuando el sistema termina de
    arrancar. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Este permiso permite a la aplicación acceder al estado del teléfono, incluyendo el número
    de teléfono del dispositivo, información de la red móvil actual, cualquier llamada en curso y
    una lista de cualquier PhoneAccount registrado en el dispositivo. -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- Este permiso permite a la aplicación evitar que el teléfono entre en modo de suspensión. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Este permiso permite a la aplicación acceder a la ubicación precisa del dispositivo
    utilizando el Sistema de Posicionamiento Global (GPS) o fuentes de ubicación de red como torres
    de telefonía móvil y Wi-Fi. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- Este permiso permite a la aplicación acceder a la ubicación aproximada del dispositivo
    utilizando fuentes de ubicación de red como torres de telefonía móvil y Wi-Fi. -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- Este permiso permite a la aplicación acceder a la ubicación del dispositivo de manera
    continua, incluso cuando la aplicación está en segundo plano. -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <application
        android:label="app_p2sw1"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <meta-data android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDLAEb2swoxchmV3GX-5WozejJI9ukA8o0"/>
        <activity
            android:showWhenLocked="true"
            android:turnScreenOn="true"
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme"
            />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility?hl=en and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>